*{
    margin:0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.divider:after, .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #DEDEDE;
    }

section {
    background-color: #DEDEDE;
}


.test{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin: 5vh;
    padding: 5vh;
}

.btn{
    background-color: #85339B;
    border: 0;
    border-radius: 30px;
    
}
.email input, .email span{
    border: 0;
    background-color: white;
    border-bottom: 1px solid;
    border-radius: 0;
    border-color: black;
}
.pass input, .pass span{
    border: 0;
    background-color: white;
    border-bottom: 1px solid;
    border-radius: 0;
    border-color: black;
}

.name input, .name span{
    border: 0;
    background-color: white;
    border-bottom: 1px solid;
    border-radius: 0;
    border-color: black;
}
.surname input, .surname span{
    border: 0;
    background-color: white;
    border-bottom: 1px solid;
    border-radius: 0;
    border-color: black;
}
.date input, .date span{
    border: 0;
    background-color: white;
    border-bottom: 1px solid;
    border-radius: 0;
    border-color: black;
}
.pass2 input, .pass2 span{
    border: 0;
    background-color: white;
    border-bottom: 1px solid;
    border-radius: 0;
    border-color: black;
}

.select_all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-inscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.sign-in{
    background-color: #ffffff;
    color: #85339B;
    border: 0;
    border-radius: 30px;
}

.section-inscription{
    display: flex;
}

.titre-page{
    font-size: 22px;
    font-weight: bolder;
}

@media (max-width: 990px) { 

    .img-fluid{
        display: none;
    }
}
