*{
    margin:0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.logo-img{
    height: 2vh;
    margin-left: 2vw;
}
.navbar{
    background-color: #D9D9D9;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
}

.link ul li a:hover, .color-link:hover{
    color: #85339b!important;
}
.link ul li a{
    margin-right: 3vh;
    text-decoration: none;
    color: black;
}
.link ul{
    display: flex;
    align-items: center;
}
.link ul li{
    list-style: none;
}
.responsive{
    display: none;
}
footer{
    position: fixed;
    width: 100%;
    height: 7vh;
    background-color: #D9D9D9;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 700px) { 
    
    .link{ 
        display: none;
    }
    .responsive{
        display: block;
        padding-right: 4vw;
    }
    footer p{
        font-size: 0.75em;
    }

}
@media (max-width: 300px) { 
    
    footer p{
        font-size: 0.65em;
    }

}